body{

 font-family: 'PT Sans', sans-serif;
 text-transform: uppercase;

}

a {
  text-decoration: none;
  color: #000000;
}


.background{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}



.welcome{
text-align: center;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus,
.user-navigation a:hover{
color: #81b3d2;
}

.site-navigation a:focus,
.user-navigation a:focus{
color: #766357;
}

.site-navigation a:active,
.user-navigation a:active{
color: rgba(0, 0, 0, 0.3);
}

.interest h2{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.interest p{
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.form{
    font-weight: bold;
}

.features-list {
  color: #000000;
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h1, h2 {
  font-size: 21px;
  line-height: 21px;
}
.feature-item p{
  font-size: 14px;
line-height: 21px;
}

.feature-item span {
  font-size: 14px;
  line-height: 21px;
}

.main-footer {
  color: #000000;
}

.footer-contacts a {
  color: #000000;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}


.footer-copyright .button:hover,
.footer-copyright .button:focus {
color: #81b3d2;
text-decoration: none;
}

.social-background{
background-color: #81b3d2;
}





h3{
  font-size: 21px;
  line-height: 26px;
}

.hotel-style{
color: #766357;
}

.background-inner{
  background-image: url("../img/background-inner.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.form-hotel{
color: #ffffff
}
.form-hotel h4{
  font-size: 16px;
  line-height: 21px;
}
.form-hotel label{
  font-size: 14px;
line-height: 21px;
}

.details{
  background-color: #81b3d2;
  color: #ffffff;
}

 .book{
   background-color: #766357;
   color: #ffffff;
 }
